Cafe_Management_System/api-gateway/node_modules/
Cafe_Management_System/customer-services/node_modules/
Cafe_Management_System/inventory-services/node_modules/
Cafe_Management_System/menu-services/node_modules/
Cafe_Management_System/order-services/node_modules/
Cafe_Management_System/payment-services/node_modules/